/*--------------------
        RESET
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------
       GENERAL
--------------------*/

/*--- buttons ---*/

.btn {
    border: none;
    cursor: pointer;
    padding: 4px 12px;
}

.btn-big {
    padding: 10px 35px;
    font-size: 14px;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn-white {
    background-color: white;
    border: 1px solid black;
    padding: 10px 14px;
    font-size: 16px;
}
/*--- /buttons ---*/

.container-1200 {
    max-width: 1200px;
}

.container-1000 {
    max-width: 1000px;
}

.container-1000, .container-1200 {
    margin: auto;
}

.container {
    display: flex;
    gap: 50px;
}

a:hover {
    font-size: 16px;
    transition-duration: 0.3s;
}

footer li:hover {
    font-size: 18px;
    transition-duration: 0.3s;
}

/*--------------------
      TYPOGRAPHY
--------------------*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

#hero h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

/*--------------------
        HEADER
--------------------*/
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header > * {
    display: flex;
    gap: 40px;
}

header img {
    max-height: 25px;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: #0d0d0d;
    font-size: 14px;
}

/*--------------------
         HERO
--------------------*/

#hero {
    background-color: #b4d0e7;
    margin-top: 65px;
    margin-bottom: 140px;
}

.h1-container {
    max-width: 1050px;
    padding-top: 80px;
}

#hero button {
    padding: 10px 18px;
    margin: 30px 0;
    font-size: 16px;
}

#hero .container {
    padding-top: 70px;
}


.hero-text {
    max-width: 30%;
}

.hero-text i {
    font-size: 50px;
    margin-top: 65px;
    margin-bottom: 50px;
}

.jumbo-img {
    max-width: 70%;
}

#hero img {
    max-width: 100%;
}

.overflow {
    margin-bottom: -70px;
}

/*--------------------
       SECTIONS
--------------------*/

/*--- first section ---*/

section {
    margin: 50px 0;
}

section input {
    margin-top: 70px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

section label {
    margin-right: 45px;
}

.plan-proposal {
    max-width: 30%;
    border: 1px solid #d0d0d3;
    margin-top: 55px;
}

.plan-proposal > div:first-child {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px 0;
}

.plan-explaination {
    padding: 35px 30px;
}

.plan-explaination > span:first-of-type {
    margin-top: 20px;
}

.plan-explaination > span:nth-of-type(2) {
    margin-top: 12px;
    color: #92687a;
}

ul {
    list-style: none;
    margin-top: 45px;
}

li {
    display: flex;
    gap: 8px;
    margin: 17px 0;
}

.plan-explaination ul i {
    margin-top: 5px;
}

span {
    display: block;
}

.btn-container {
    margin: auto;
    max-width: fit-content;
}

.plan-explaination button {
    margin-top: 45px;
    margin-bottom:35px;
}

hr {
    max-width: 20%;
    margin: 40px 0;
    color: #d0d0d3;
}

.fa-check {
    color: #0061ff;
}

.btn-enterprise {
    width: 226.42px;
}

.last-plan {
    max-width: 100%;
}

.last-plan h4 {
    margin-top: 20px;
}

.last-plan .plan-explaination {
    display: flex;
}

.last-plan .plan-explaination > div:first-child {
    max-width: 70%;
}

.last-plan .plan-explaination button, .last-plan .plan-explaination .btn-container {
    margin-top: 0;
    margin-right: 0;
}

.last-plan .plan-explaination p {
    margin-top: 50px;
}

/*--- /first section ---*/

/*--- second section ---*/

.second-section {
    display: flex;
    gap: 50px;
    margin-top: 165px;
}

.second-section > div:first-child {
    max-width: 66.66%;
}

.second-section > div:last-child {
    max-width: 33.33%;
    padding-left: 10px;
}

.second-section img {
    max-width: 100%;
}

.second-section h3 {
    margin-top: 50px; 
}

.second-section p {
    margin-top: 20px;
}

.second-section .btn-container {
    margin: 0;
    margin-top: 30px;
}

/*--- /second section ---*/

/*--- third section ---*/

.third-section {
    margin-top: 165px;
}

.dropbox-business {
    max-width: calc(100% / 3);
}

.dropbox-business img {
    max-width: 100%;
}

.third-section .container {
    margin-top: 80px;
    margin-bottom: 70px;
}

.third-section h3 {
    margin-bottom: 25px;
}

.team-500000 {
    margin-top: 210px;
    max-width: 60%;
}
.third-section .container-1000:last-child > div:last-of-type {
    margin-top:  70px;
    margin-bottom: 150px;
}

/*--- /third section ---*/

/*--- logos section ---*/

.logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logos-sx, .logos-dx {
    display: flex;
    flex-wrap: wrap;
}

.logos > div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.logos-sx div, .logos-dx div {
    width: 50%;
    height: 50%;
    position: relative;
}

.logos img:not(.center-img) {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.logos img {
    color: white;
}

.logos-sx div:first-child {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd ;
}

.logos-sx div:nth-child(2) {
    background-color: #61082b;
}

.logos-sx div:nth-child(3) {
    background-color: #0093ce;
}

.logos-sx div:last-child {
    background-color: #ff1c1c;
}

.logo-center {
    background-color: #f5f5f5;
    padding: 50px;
    overflow-y: auto;
}

.center-img {
    max-width: 50%;
}

.logo-center p {
    margin-bottom: 50px;
}

.logos-dx div:first-child {
    background-color: #d5001f;
}

.logos-dx div:nth-child(2) {
    background-color: #b4d0e7;
}

.logos-dx div:nth-child(3) {
    background-color: #0d2481;
}

.logos-dx div:last-child {
    background-color: #ffd830;
}

.logos-footer {
    background-color: #b4d0e7;
}

.logos-footer .container-1000 {
    display: flex;
    align-items: center;
}

.logos-footer .container-1000 > div {
    width: 50%;
    margin: 110px 0;
}

.logos-footer .btn-container {
    display: flex;
}

.logos-footer button {
    border: none;
    padding: 10px 50px;
}

/*--- /logos section ---*/

/*--- accordion section ---*/

.accordion h2 {
    padding-bottom: 40px ;
}

.accordion-container > div {
    display: flex;
    justify-content: space-between;
}

.accordion-container i {
    margin-right: 40px;
}

.accordion .container-1000 > div {
    margin-top: 150px;
}

.accordion .container-1000 div > div {
    border-top: 1px solid #999999;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.fa-chevron-down {
    font-size: 13px;
}

/*--- /accordion section ---*/

/*--------------------
        FOOTER
--------------------*/

footer {
    color: white;
    background-color: #000000;
    margin-top: 130px;
    padding-top: 70px;
}

footer .container-1200 {
    display: flex;
    justify-content: space-between;
    gap: 40px
    ;
}

footer h3 {
    margin-bottom: 40px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    margin-bottom: 90px;
}

footer hr {
    color: white;
    max-width: 10%;
}

.container-hr {
    max-width: 1200px;
    margin: auto;
}

footer span {
    display: inline;
}

footer i {
    margin-right: 5px;
}

footer .container-hr {
    padding-bottom: 60px;
}